*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
marquee{
    color:blueviolet;
}
.box{
    padding: 10px 10px;
    /* background-image: rgb(240, 240, 240); */
}
.box h5{
    font-size: 15px;
    font-weight: bold;
}
h4{
    text-align: center;
    text-decoration:underline;
    font-weight: bold;
}